<div id="navbarNavDropdown" class="navbar-collapse collapse" style="padding: 3px 0;">
    <ul class="navbar-nav m-auto">
        <li class="nav-item">
            <a class="nav-link py-0 ga-10" href="/">Home</a>
        </li>
        <li class="nav-item dropdown dropdown-full-width">
            <a class="nav-link py-0 ga-10" data-toggler="show" data-target="#afsdd" href="/aircraft-for-sale/" aria-haspopup="true"
               aria-expanded="false">
                Aircraft For Sale <img width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
            </a>
            <ul id="afsdd" class="collapse dropdown-menu dropdown-mega-fw" style="top: 100%; left: 0%">
                <li class="container">
                    <div class="mega-menu-content">
                        <div class="row mb-10 b-b-white">
                            <div class="col-lg-3">
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/aircraft-for-sale/" class="dropdown-item text-bold font--bold font600"> Aircraft For Sale Home</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-10">
                            <div class="col-lg-3">
                                <div class="mega-title">Search by...</div>
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/aircraft-for-sale/amphibian" class="dropdown-item"> Amphibian</a></li>
                                    <li><a href="/aircraft-for-sale/commercial" class="dropdown-item"> Commercial</a></li>
                                    <li><a href="/aircraft-for-sale/experimental-kit" class="dropdown-item"> Experimental</a></li>
                                    <li><a href="/aircraft-for-sale/helicopters" class="dropdown-item"> Helicopter</a></li>
                                    <li><a href="/aircraft-for-sale/private-jet" class="dropdown-item"> Private Jets</a></li>
                                    <li><a href="/aircraft-for-sale/single-engine-turbine" class="dropdown-item"> Single Engine Turbines </a></li>

                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <div class="mega-title">Search by...</div>
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/aircraft-for-sale/single-engine-piston" class="dropdown-item"> Single Engine Pistons</a></li>
                                    <li><a href="/aircraft-for-sale/twin-engine-piston" class="dropdown-item"> Twin Engine Pistons</a></li>
                                    <li><a href="/aircraft-for-sale/twin-engine-turbine" class="dropdown-item"> Twin Turbo Props</a></li>
                                    <li><a href="/aircraft-for-sale/vintage" class="dropdown-item"> Vintage Aircrafts</a></li>
                                    <li><a href="/aircraft-for-sale/warbird" class="dropdown-item"> Warbirds</a></li>
                                    <li><a href="/aircraft-for-sale/light-sport" class="dropdown-item"> Light Sport Aircrafts</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <div class="mega-title">Popular Searches</div>
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/aircraft-for-sale/gulfstream-g550" class="dropdown-item"> Gulfstream G550</a></li>
                                    <li><a href="/aircraft-for-sale/king-air-350" class="dropdown-item"> King Air 350</a></li>
                                    <li><a href="/aircraft-for-sale/airbus-a320" class="dropdown-item"> Airbus A320</a></li>
                                    <li><a href="/aircraft-for-sale/boeing-737" class="dropdown-item"> Boeing 737</a></li>
                                    <li><a href="/aircraft-for-sale/challenger-300" class="dropdown-item"> Challenger 300</a></li>
                                    <li><a href="/aircraft-for-sale/hawker-800xp" class="dropdown-item"> Hawker 800XP</a></li>

                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <div class="mega-title">Quick Links</div>
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/myaircraft/rates" class="dropdown-item"> Sell Your Aircraft</a></li>
                                    <li><a href="/aircraft-for-sale/sellers" class="dropdown-item"> By Seller</a></li>
                                    <li><a href="/aircraft-for-sale/aircraft-by-location" class="dropdown-item"> By Location</a></li>
                                    <li><a href="/abuyer/default" class="dropdown-item"> A.Buyer Researcher</a></li>
                                    <li><a href="/aircraft-for-sale/aircraft-lease" class="dropdown-item"> Lease Opportunitie</a></li>
                                    <li><a href="/aircraft-for-sale/wantedclassification" class="dropdown-item"> Aircraft Wanted</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown dropdown-full-width">
            <a class="nav-link py-0 ga-10" data-toggler="show" data-target="#dirdd" href="/directories" aria-haspopup="true"
               aria-expanded="false">
                Aviation Directory <img width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
            </a>
            <ul id="dirdd" class="dropdown-menu dropdown-mega-fw" style="top: 100%; left: 0%">
                <li class="container">
                    <div class="mega-menu-content">
                        <div class="row mb-10">
                            <div class="col-lg-4">
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/directories" class="dropdown-item text-bold font--bold font600">Aviation Directory Home</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/directories/aircraft-charter-10.html" class="dropdown-item"> Aircraft Charter</a></li>
                                    <li><a href="/directories/aircraft-financing-14.html" class="dropdown-item"> Aircraft Financing</a></li>
                                    <li><a href="/directories/aircraft-insurance-16.html" class="dropdown-item"> Aircraft Insurance</a></li>
                                    <li><a href="/directories/aircraft-maintenance-17.html" class="dropdown-item"> Aircraft Maintenance</a></li>
                                    <li><a href="/directories/aircraft-manufacturers-18.html" class="dropdown-item"> Aircraft Manufacturers</a></li>
                                    <li><a href="/directories/aircraft-parts-21.html" class="dropdown-item"> Aircraft Parts</a></li>

                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/directories/airports-8.html" class="dropdown-item"> Airports</a></li>
                                    <li><a href="/directories/aviation-publications-23.html" class="dropdown-item"> Aviation Publications</a></li>
                                    <li><a href="/directories/aviation-training-15.html" class="dropdown-item"> Aviation Training</a></li>
                                    <li><a href="/directories/avionics-9.html" class="dropdown-item"> Avionics</a></li>
                                    <li><a href="/directories/brokers-dealers-11.html" class="dropdown-item"> Brokers/Dealers</a></li>
                                    <li><a href="/directories/faa-12.html" class="dropdown-item"> FAA</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/directories/fbo-13.html" class="dropdown-item"> FBO</a></li>
                                    <li><a href="/directories/other-services-20.html" class="dropdown-item"> Other Services</a></li>
                                    <li><a href="/directories/pilot-services-22.html" class="dropdown-item"> Pilot Services</a></li>
                                    <li><a href="/directories/add.aspx" class="dropdown-item"><span class="mega-title">Submit a site to our directories</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link py-0 ga-10" data-toggler="show" data-target="#arcdd" href="/airport/" aria-haspopup="true"
               aria-expanded="false">
                Airport Resources <img width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
            </a>
            <ul id="arcdd" class="dropdown-menu dropdown-menu-right" style="top: 100%; left: 0%">
                <li><a href="/airport/" class="dropdown-item text-bold font--bold font600">Airport Resources Home</a></li>
                <li><a href="/airport/" class="dropdown-item">Airport Search</a></li>
                <li><a href="/airport/airspacefix.aspx?letter=1" class="dropdown-item">Airspace Fix</a></li>
                <li><a href="/airport/state.aspx" class="dropdown-item">Browse US Airports by State</a></li>
                <li><a href="/airport/region.aspx" class="dropdown-item">Fuel Prices by Region</a></li>
                <li><a href="/airport/fbo_registration.aspx" class="dropdown-item">List Your FBO</a></li>
                <li><a href="https://maxtrax.globalair.com" class="dropdown-item">Max-Trax</a></li>
            </ul>
        </li>
        <li class="nav-item">
            @*<a class="nav-link py-0 ga-10" href="https://blog.globalair.com">Blog</a>*@
            <a class="nav-link py-0 ga-10" href="/articles">Aviation News</a>
        </li>
        <li class="nav-item">            
            <a class="nav-link py-0 ga-10" href="/calendar/aviation-events.aspx">Aviation Events</a>
        </li>
        @*<li class="nav-item dropdown">
            <a class="nav-link py-0 ga-10" data-toggler="show" data-target="#mfddd" href="#" aria-haspopup="true"
               aria-expanded="false">
                My Flight Department <img width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
            </a>
            <ul id="mfddd" class="dropdown-menu dropdown-menu-right">
                <li><a href="/login.aspx" class="dropdown-item text-bold font--bold font600">My Flight Department Dashboard</a></li>
                <li><a href="/abuyer/default" class="dropdown-item">A.Buyer</a></li>
                <li><a href="/ac-reg/search.aspx" class="dropdown-item">FAA Aircraft Search</a></li>
                <li><a href="/logbook/default.aspx" class="dropdown-item">Pilot Logbook</a></li>
                <li><a href="/Articles/Edit" class="dropdown-item">Post your Aviation News or Press Releases</a></li>
                <li><a href="/myflightdept/customs.aspx" class="dropdown-item">U.S. Customs and FAA Forms</a></li>
            </ul>
        </li>*@

        @*<li class="nav-item dropdown">
            <a class="nav-link py-0 ga-10" data-toggler="show" data-target="#moredd" href="#" aria-haspopup="true"
               aria-expanded="false">
                More <img width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
            </a>
            <ul id="moredd" class="dropdown-menu dropdown-menu-right">
                <li><a href="/Articles" class="dropdown-item">Aviation News</a></li>
                <li><a href="/calendar/aviation-events.aspx" class="dropdown-item">Aviation Events</a></li>
                <li><a href="/advertising/advertisewithus" class="dropdown-item">Advertising</a></li>
                <li><a href="https://hosting.globalair.com" class="dropdown-item">Hosting</a></li>
                <li><a href="/contact/contact.aspx" class="dropdown-item">Contact Us</a></li>
                <li><a href="/employment/" class="dropdown-item">Job Opportunities</a></li>
                <li><a href="/press/legal.aspx" class="dropdown-item">Legal</a></li>
                <li><a href="/airport/specials.aspx">Oshkosh Specials</a></li>
                <li><a href="/press/press.aspx" class="dropdown-item">Press</a></li>
                <li><a href="/scholarships/" class="dropdown-item">Scholarships</a></li>
                <li><a href="/press/testimonials.aspx" class="dropdown-item">Testimonials</a></li>
            </ul>
        </li>*@

        <li class="nav-item dropdown dropdown-full-width">
            <a class="nav-link py-0 ga-10" data-toggler="show" data-target="#moredd" href="/" aria-haspopup="true"
               aria-expanded="false">
                More <img width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
            </a>
            <ul id="moredd" class="dropdown-menu dropdown-mega-fw" style="top: 100%; left: 0%">
                <li class="container">
                    <div class="mega-menu-content">
                        @*<div class="row mb-10">
                            <div class="col-lg-4">
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/login.aspx" class="text-bold font--bold font600">My Flight Department</a></li>
                                </ul>
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="mega-inner-nav list-unstyled">
                                    <li><a href="/login.aspx" class="dropdown-item text-bold font--bold font600">My Flight Department Dashboard</a></li>
                                    <li><a href="/abuyer/default" class="dropdown-item">A.Buyer</a></li>
                                    <li><a href="/ac-reg/search.aspx" class="dropdown-item">FAA Aircraft Search</a></li>
                                    <li><a href="/logbook/default.aspx" class="dropdown-item">Pilot Logbook</a></li>
                                    <li><a href="/articles/edit" class="dropdown-item">Post your Stories or Press Releases</a></li>
                                    <li><a href="/myflightdept/customs.aspx" class="dropdown-item">U.S. Customs and FAA Forms</a></li>

                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="mega-inner-nav list-unstyled">
                                    @*<li><a href="/Articles" class="dropdown-item">Aviation News</a></li>
                                    <li><a href="/calendar/aviation-events.aspx" class="dropdown-item">Aviation Events</a></li>*@
                                    <li><a href="/advertising/advertisewithus" class="dropdown-item">Advertising</a></li>
                                    <li><a href="https://hosting.globalair.com" class="dropdown-item">Hosting</a></li>
                                    <li><a href="/contact/contact.aspx" class="dropdown-item">Contact Us</a></li>
                                    <li><a href="/employment/" class="dropdown-item">Job Opportunities</a></li>
                                    <li><a href="/press/legal.aspx" class="dropdown-item">Legal</a></li>
                                    @*<li><a href="/airport/specials.aspx">Oshkosh Specials</a></li>*@
                                    <li><a href="/press/press.aspx" class="dropdown-item">Press</a></li>
                                    <li><a href="/scholarships/" class="dropdown-item">Scholarships</a></li>
                                    <li><a href="/press/testimonials.aspx" class="dropdown-item">Testimonials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
