@model FBO.ViewModels.ResponseDataViewModel
<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />
@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Upgrade Your FBO</span><meta itemprop="position" content="3"></a></li>
        </ol>
    </nav>
}
<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            <div class="row ms-1">
                <div class="card float-right">

                    <h6>&nbsp;</h6>
                    <h4>
                        Exposing your FBO is GlobalAir.com's commitment and we are doing it!
                    </h4>
                    <p>
                        The Airport Resource Center has kept the price for marketing your FBO to less than half of our main competitor. GlobalAir.com brings in thousands of visitors from the aviation industry each day to see your airport and FBO. From single engine piston owners to Gulfstream G550 operators.

                    </p>
                </div>
            </div>
            <div class="row ms-1" id='platinum'>
                <div class="card float-right">
                    <div>
                        <h3>&nbsp;</h3>

                        <div class="row">

                            <div class="col-sm-9">

                                <h4 class=" section-title display-6 secPlat">
                                    FBO Platinum
                                </h4>
                                <h5>Get Maximum Exposure for your FBO</h5>
                            </div>
                            <div class="col-sm-2" style="
											width: fit-content;
											float: right;
										">
                                <div class="card card-animation l-bg-cherry">
                                    <div class="card-statistic-3 p-4">
                                        <div class="mb-0">
                                            <h5 class="card-title mb-0">Per year Price:</h5>
                                        </div>
                                        <div class="row align-items-center mb-0 d-flex">
                                            <div class="col-5">
                                                <h2 class="d-flex align-items-center mb-0">
                                                    $800.00
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style=" background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px; font-size: x-large;" class="display-6">
                                    Platinum Features:
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">

                                <ol class="list-group list-group">
                                    <li class="list-group-item">One turbine aircraft will pay for a complete year of exposure!</li>
                                    <li class="list-group-item">Sponsorship of your home airport pages,Your FBO's logo at the top!</li>
                                    <li class="list-group-item">Show off your facility with our new Unlimited Photo Flow Feature!</li>
                                    <li class="list-group-item">Single Sponsorship on Max-Trax & ARC Mapping system</li>
                                    <li class="list-group-item">List Over 30 Additional Services! </li>
                                    <li class="list-group-item">Add up to 10 additional logo services!</li>
                                    <li class="list-group-item">Add unlimited Fuel Card Logos!</li>
                                    <li class="list-group-item">Add unlimited custom services!</li>
                                    <li class="list-group-item">Fuel Brand Logos,co-brand with your fuel supplier</b>!</li>
                                    <li class="list-group-item">Your FBO is the first FBO listed on the field.</li>
                                    <li class="list-group-item">Max-Trax - Fuel Route Mapping System: Plan up to 500 fuel efficient trips -<b style="color: Red;">FREE</b>!</li>
                                </ol>
                            </div>
                            <div class="col-sm-4">


                                <img src='images/platinum-fboadvertise.jpg' alt="" style="max-width: -webkit-fill-available;">

                            </div>
                        </div>
                        <br>
                        @if (Model.FBO.platinium_level_count == 0)
                        {

                            <div class="mb-3 col-12 text-center">
                                @*Uncomment this for local*@
                                @*<a href="/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID&step=2&level=platinum" class="btn btn-success" data-name="Platinum">Join Now</a>*@

                                @*Uncomment this for prod*@
                                <a href="/fbo/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID&step=2&level=platinum" class="btn btn-success" data-name="Platinum">Join Now</a>
                            </div>
                        }
                        else if (Model.FBO.platinium_level_count > 0)
                        {
                            <div class="mb-3 col-12 text-center" style="color: red;">
                                Sorry, there is already a platinum FBO sponsor at your airport
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row ms-1" id='gold'>
                <div class="card float-right">
                    <div>
                        <h3>&nbsp;</h3>

                        <div class="row">

                            <div class="col-sm-9">

                                <h4 class=" section-title display-6 secgold">
                                    FBO Gold
                                </h4>
                                <h5>Get Great Exposure</h5>
                            </div>
                            <div class="col-sm-2" style="
											width: fit-content;
											float: right;
										">
                                <div class="card card-animation l-bg-cherry">
                                    <div class="card-statistic-3 p-4">
                                        <div class="mb-0">
                                            <h5 class="card-title mb-0">Per year Price:</h5>
                                        </div>
                                        <div class="row align-items-center mb-0 d-flex">
                                            <div class="col-5">
                                                <h2 class="d-flex align-items-center mb-0">
                                                    $500.00
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style=" background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px; font-size: x-large;" class="display-6">
                                    Gold Features:
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">

                                <ol class="list-group list-group">
                                    <li class="list-group-item">For less than a lunch a month you get great exposure!</li>
                                    <li class="list-group-item">Show off your facility with our new Unlimited Photo Flow Feature</li>
                                    <li class="list-group-item">Display your company logo on the airport information page and your FBO information page!</li>
                                    <li class="list-group-item">List Over 30 Additional Services!</li>
                                    <li class="list-group-item">Add up to 6 additional logo services! </li>
                                    <li class="list-group-item">Add unlimited Fuel Card Logos!</li>
                                    <li class="list-group-item">Fuel Brand Logos - co-brand with your fuel supplier!</li>

                                    <li class="list-group-item">Max-Trax - Fuel Route Mapping System: Plan up to 250 fuel efficient trips -<b style="color: Red;">FREE</b>!</li>
                                </ol>
                            </div>
                            <div class="col-sm-4">
                                <img src='images/platinum-fboadvertise.jpg' alt="" style="max-width: -webkit-fill-available;">
                            </div>
                        </div>
                        <br>
                        <div class="mb-3 col-12 text-center">
                            @*Uncomment this for local*@
                            @*<a href="/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID&step=2&level=gold" type="submit" class="btn btn-success" data-name="Gold">Join Now</a>*@
                            
                            @*Uncomment this for local*@
                            <a href="/fbo/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID&step=2&level=gold" type="submit" class="btn btn-success" data-name="Gold">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ms-1" id='silver'>
                <div class="card float-right">
                    <div>
                        <h3>&nbsp;</h3>

                        <div class="row">

                            <div class="col-sm-9">

                                <h4 class=" section-title display-6 secsil">
                                    FBO Silver
                                </h4>
                                <h5>The Easy Budget</h5>
                            </div>
                            <div class="col-sm-2" style="
											width: fit-content;
											float: right;
										">
                                <div class="card card-animation l-bg-cherry">
                                    <div class="card-statistic-3 p-4">
                                        <div class="mb-0">
                                            <h5 class="card-title mb-0">Per year Price:</h5>
                                        </div>
                                        <div class="row align-items-center mb-0 d-flex">
                                            <div class="col-5">
                                                <h2 class="d-flex align-items-center mb-0">
                                                    $200.00
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style=" background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px; font-size: x-large;" class="display-6">
                                    Silver Features:
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">

                                <ol class="list-group list-group">

                                    <li class="list-group-item">Display your company logo on the airport information page and your FBO information page</li>
                                    <li class="list-group-item">List Over 10 Additional Services! </li>
                                    <li class="list-group-item">Add up to 1 additional logo services!</li>
                                    <li class="list-group-item">Add unlimited Fuel Card Logos!</li>
                                    <li class="list-group-item">Add unlimited custom services!</li>
                                    <li class="list-group-item">Fuel Brand Logos,co-brand with your fuel supplier</b>!</li>

                                    <li class="list-group-item">Max-Trax - Fuel Route Mapping System: Plan up to 150 fuel efficient trips -<b style="color: Red;">FREE</b>!</li>
                                </ol>
                            </div>
                            <div class="col-sm-4">
                                <img src='images/platinum-fboadvertise.jpg' alt="" style="max-width: -webkit-fill-available;">
                            </div>
                        </div>
                        <br>
                        <div class="mb-3 col-12 text-center">
                            @*Uncomment this for local*@
                            @*<a href="/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID&step=2&level=silver" type="submit" class="JoinNow btn btn-success" data-name="Silver">Join Now</a>*@
                            
                            @*Uncomment this for prod*@
                            <a href="/fbo/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID&step=2&level=silver" type="submit" class="JoinNow btn btn-success" data-name="Silver">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            

        @if (Model.FBO.FBO.FBOLevel == "Platinum")
        {
            <text>
                    $('#platinum').hide();
                $('#gold').hide();
                $('#silver').hide();
            </text>
        }
        else if (Model.FBO.FBO.FBOLevel == "Gold")
        {
            <text>
                    $('#platinum').show();
                $('#gold').hide();
                $('#silver').hide();
            </text>
        }
        else if (Model.FBO.FBO.FBOLevel == "Silver")
        {
            <text>
                    $('#platinum').show();
                $('#gold').show();
                $('#silver').hide();
            </text>
        }
        else if (Model.FBO.FBO.FBOLevel == "Basic")
        {
            <text>
                    $('#platinum').show();
                $('#gold').show();
                $('#silver').show();
            </text>
        }
        });
    </script>
    }

